<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/style.css" />
    <!-- updated CSS link -->
  </head>
  <body>
    <h1>Hello, EJS!</h1>
    <p>Welcome to the Register and Log In App.</p>
    <a href="/login">Login</a>
    <br />
    <a href="/register">Register</a>
  </body>
</html>
